@charset "UTF-8";
.content {
  width: 80%;
  margin: .6rem auto;
  border-radius: .1rem; }
  .content .blank {
    height: .2rem;
    overflow: hidden;
    width: 100%;
    margin: auto;
    clear: both; }
  .content .hometitle {
    padding: 0 .2rem;
    line-height: .5rem;
    height: .5rem;
    font-size: .24rem;
    border-bottom: #000 2px solid;
    position: relative;
    background: #fff; }
  .content .desc {
    background: #fff;
    overflow: hidden;
    width: 100%;
    clear: both;
    border-radius: .1rem;
    padding: 10px 20px; }
  .content .block {
    border-radius: .1rem;
    float: left;
    width: 47.4%;
    background: #fff;
    margin-bottom: .5rem; }
    .content .block .title {
      margin: .2rem; }
      .content .block .title .title_left {
        overflow: hidden;
        width: 30%;
        max-height: 1rem;
        display: block;
        float: left;
        margin-right: .1rem;
        border-radius: .05rem; }
        .content .block .title .title_left img {
          width: 100%;
          height: auto; }
      .content .block .title .title_right::before {
        clear: both; }
      .content .block .title .title_right {
        float: left;
        width: 66%; }
        .content .block .title .title_right .name span {
          background: #d21a1a;
          color: #fff;
          float: left;
          border-radius: .03rem;
          padding: .01rem .1rem;
          position: relative;
          margin-right: .2rem; }
        .content .block .title .title_right .name span::before {
          display: block;
          content: '';
          border-width: .11rem .11rem .11rem .11rem;
          border-style: solid;
          border-color: transparent transparent transparent #d21a1a;
          /* 定位 */
          position: absolute;
          right: -21px;
          top: 0; }
        .content .block .title .title_right .title_desc {
          margin-top: .11rem; }
    .content .block .table tr {
      border-bottom: 1px solid #EBEEF5;
      color: #606266;
      font-size: .14rem; }
      .content .block .table tr th, .content .block .table tr td {
        padding: 0.1rem; }
      .content .block .table tr td .url, .content .block .table tr td .lyric {
        display: none; }
      .content .block .table tr td a:hover {
        background: transparent;
        text-decoration: none; }
      .content .block .table tr td span {
        cursor: pointer; }
    .content .block .table .head {
      color: #909399; }
  .content .block:nth-of-type(even) {
    margin-left: .6rem; }
  .content .music {
    position: fixed;
    bottom: -93px;
    transition: all 0.6s ease; }
    .content .music .lock {
      width: .18rem;
      height: .18rem;
      position: absolute;
      right: 10px;
      bottom: 100px;
      cursor: pointer; }
      .content .music .lock img {
        width: 100%;
        height: auto; }
      .content .music .lock .img2 {
        display: none; }
    .content .music .aplayer {
      width: 1100px; }
  .content .music:hover {
    bottom: 1px; }

/*# sourceMappingURL=music.css.map */
