html{
	height:100%;
}
body{
	height: 100%;
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #555;
    background: #f1f1f1;
  }
@font-face{
	font-family: DryBrush;
	src:url(../fonts/DryBrush.ttf);
}
.navbar-fixed-top{
	background: #333;

 	.navbar-brand{
 		font-family: 'DryBrush';
 		text-transform: uppercase;
		font-size:.3rem;
		line-height: .26rem;
		color:#9d9d9d;
	}
	.nav-right{
		float:right;
		height: .5rem;
    	line-height: .5rem;
    	margin:0;
		li{
			display:inline-block;
			width: 1rem;
			text-align:center;
			
			a{
				color:#999;
				display: inline-block;
			    width: 100%;
			    height: 100%;
			}
			a:hover{
				color: #ff9600;
				background: transparent;
				text-decoration: none;
			}
			.cur{
				color: #ff9600;
				background: transparent;
				text-decoration: none;
			}
			span{
				img{
					width:.5rem;
					height:auto;
					border-radius:50%;
				}
			}
		}
		.select{
			position: relative;
			transition: all .5s ease;
			.sub{
				overflow: hidden;
			    position: absolute;
			    left: 0;
			    top: 50px;
			    background: #1C2327;
			    transition: all .5s ease;
			    display: none;
			    z-index: 9;
			    li{
			    	height: 30px;
				    line-height: 30px;
				    font-size: 14px;
				    margin-right:0;
			    }
			}
		}
		.select::before{
			position: absolute;
		    content: "";
		    top: 22px;
		    right: 7px;
		    background: url(../images/jt.png) no-repeat;
		    width: 8px;
		    height: 8px;
		    transition: all .5s ease;
		}
		.select:hover:before{
			transform: rotate(180deg);
		}
		.select:hover ul.sub{
			display:block;
		}
	}
}
 